@font-face {
	font-family: 'F1Regular';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2');
}
@font-face {
	font-family: 'F1Wide';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2');
}
@font-face {
	font-family: 'F1Bold';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2');
}

body {
	margin: 0px;
	font-family: F1Regular;
}

.invisibile {
  display: none;
}

.visibile {
	margin: 10px 10% 0px 10%;
}

.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	background-color: #e10600;
	z-index: 10;
}

.navbar > a {
	display: flex;
	height: 100%;
	color: white;
	text-decoration: none;
	font-family: F1Regular;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
}

.navbar > a:hover {
	background-color: #15151e;
	transition: 0.3s ease;
}

.navbar > a > img {
	height: 40px;
}

.prodotto {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}

.prodotto > img {
	transition: 0.2s ease;
	max-width: 70%;
}

.prodotto > img:hover {
	position: relative;
	transition: 0.5s ease;
	max-width: 75%;
	object-fit: contain;
}

.lista-prodotti {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	gap: 10px;
	grid-auto-rows: auto;
}

.remove-from-cart-btn {
	font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
	border-width: 0px;
	color:white;
  background-color: #e10600;
	margin: 5px;
}

.remove-from-cart-btn:hover {
	font-size: 25px;
	width: 40px;
  height: 40px;
  border-radius: 25px;
	border-width: 0px;
	color:white;
  background-color: #15151e;
}

.add-to-cart-btn {
	font-size: 25px;
	width: 40px;
  height: 40px;
  border-radius: 25px;
	border-width: 0px;
	color:white;
  background-color: #e10600;
}

.add-to-cart-btn:hover {
	font-size: 25px;
	width: 40px;
  height: 40px;
  border-radius: 25px;
	border-width: 0px;
	color:white;
  background-color: #15151e;
}

.cart-table {
	margin: 0px auto;
	position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  background-color: #e10600;
  color: white;
  text-align: center;
	border-spacing: 0;
	border: 4px solid #e10600;
	border-radius: 10px 0px 0px 0px;
}
