@font-face {
	font-family: 'F1Regular';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2');
}
@font-face {
	font-family: 'F1Wide';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2');
}
@font-face {
	font-family: 'F1Bold';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2');
}
rosso#e10600
nero#15151e
body {
	margin: 0;
}
